
#main {
    background-color: #dcdcdc;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 18px;
}

#title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px
}

#img-div {
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

#image {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-caption {
    text-align: center;
}

#tribute-info {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
}

ul {
    max-width: 500px;
    margin: auto;
}

li {
    padding-bottom: 0.7em;
}

footer {
    text-align: center;
    font-style: italic;
}